.app {
  min-height: 100vh;
  display: flex;
  font-family: sans-serif;
}

.sidebar {
  padding: 10px;
  width: 250px;
}

.sidebar .header {
  margin-bottom: 10px;
}

.doc-item {
  padding: 5px;
}

.doc-item.active,
.doc-item:hover {
  background-color: #f0f0f0;
}

.top-bar {
  position: absolute;
  right: 10px;
  top: 10px;
  display: flex;
  flex-direction: row-reverse;
  z-index: 9999;
}

.top-bar button {
  margin: auto 2px;
}

.main-content {
  flex: 1;
}
.editor-container {
  min-height: 100vh;
}
